<ion-header>
  <ion-toolbar>
    <ion-title>
      Página de Login
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-img src>    </ion-img>
      <ion-card-header>
        <ion-card-subtitle></ion-card-subtitle>
        
        <ion-card-title>Bem Vindo ao Sistema Paraquedas</ion-card-title>

        <ion-card-title>Login</ion-card-title>  
        <ion-textarea></ion-textarea>
      
        <ion-card-title>Senha</ion-card-title>
        <ion-textarea></ion-textarea>

        <ion-button>Acessar</ion-button>

      </ion-card-header>
      <ion-card-content>
        <p> </p>
      </ion-card-content>
    </ion-card>
    <ion-list lines="none">
      <ion-list-header>
        <ion-label></ion-label>
      </ion-list-header>
 
    </ion-list>
</ion-content>
