<ion-header>
  <ion-toolbar>
    <ion-title>
      Pagina 1
    </ion-title>
  </ion-toolbar>
</ion-header> 
<ion-content>
    <ion-card class="welcome-card">
      <ion-img src="/assets/paraquedas.png"></ion-img>
      <ion-card-header>
        <ion-card-subtitle>Compre com Estilo</ion-card-subtitle>
        <ion-card-title>   Bem Vindo ao Sistema Paraquedas</ion-card-title>
        
      </ion-card-header>
      <ion-card-content>
        <p> </p>
      </ion-card-content>
    </ion-card>
    <ion-list lines="none">

        
        <ion-card-title>   Login</ion-card-title>
        <ion-input type="email"></ion-input>
        <ion-card-title>   Senha</ion-card-title>
        <ion-input type="password"></ion-input>
        <ion-button size="small" color="dark">Entrar</ion-button><ion-button size="small" color="dark">Fazer cadastro</ion-button>

    </ion-list>
</ion-content>
